<%= simple_form_for(user) do |f| %>
    <% if user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, 'error') %> prohibited this user from being saved:</h2>

          <ul>
            <% user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="right lspace-r">
      <%= render 'progress_bar' %>
    </div>
    <div>
      <div>
        <%= image_tag 'default/info.png', class: 'left title-icon' %>
        <h3><%= t('user.profile.title') %></h3>
      </div>

      <div class="fieldset">
        <!--TODO: Email-->
        <div class="field">
          <%= f.input :first_name %>
        </div>
        <div class="field">
          <%= f.input :last_name %>
        </div>
        <div class="field">
          <%= f.input :birthday, as: :string %>
        </div>
      </div>
      <div class="fieldset">
        <div class="field">
          <%= f.input :address %>
        </div>
        <div class="field">
          <%= f.input :postal_code %>
        </div>
        <div class="field">
          <%= f.input :city %>
        </div>
      </div>
      <div class="fieldset">
        <div class="field">
          <%= f.input :phone_number %>
        </div>
      </div>
      <div class="clear"></div>
    </div>

    <div class="lspace-t">
      <div>
        <%= image_tag 'default/user_profile.png', class: 'left title-icon' %>
        <h3><%= t('user.profile.title') %></h3>
      </div>
      <p></p>
      <div class="avatar">
        <label class="upload-button">
          <%= f.input :avatar, label: false %>
          <span class="input-button"><%= t('simple_form.file.title') %></span>
        </label>
        <div class="avatar-image">
          <%= image_tag user.avatar.url(:medium) %>
        </div>
      </div>
    </div>
    <div class="center lspace-t">
      <%= f.submit t('user.update.submit'), class: 'input-button' %>
    </div>

    <%= f.simple_fields_for :cards do |card| %>
        <%= render 'card_fields', f: card %>
    <% end %>
    <div class="links">
      <%= link_to_add_association t('card.add'), f, :cards %>
    </div>
<% end %>
