<%= simple_form_for(resource, url: user_registration_path(resource)) do |f| %>
    <!--TODO: Handle errors-->
    <%= f.input :email, as: :hidden, value: @user.email %>
    <div class="ui action input">
      <%= f.simple_fields_for :cards_attributes do |card_f| %>
          <%= card_f.input :uid, wrapper: false, label: false, input_html: { autofocus: true } %>
      <% end %>
      <%= f.button :submit, value: 'Sign up', class: 'ui icon button' %>
    </div>
<% end %>
