<%= semantic_form_for(user) do |f| %>

    <%= f.inputs do %>
        <%= f.input :email %>
    <% end %>

    <%= f.semantic_fields_for :cards do |card| %>
        <%= render 'card_fields', f: card %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add card', f, :cards %>
    </div>

    <% if user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, 'error') %> prohibited this user from being saved:</h2>

          <ul>
            <% user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
