<%= render 'home/email_tip', email: @user.email, path: root_path %>
<div class="fields">
  <%= simple_form_for(resource, url: user_session_path, method: :post, html: { class: 'sign-in', 'data-url': user_check_credentials_url }) do |f| %>
      <!--TODO: Handle errors-->
      <%= f.input :email, as: :hidden, value: @user.email %>
      <%= f.input :password, placeholder: t('activerecord.attributes.user.password'), wrapper: false, label: false, input_html: { autofocus: true } %>
      <%= button_tag type: :submit, class: 'ribbon button' do %>
          <%= fa_icon 'key' %>
      <% end %>
  <% end %>
</div>
<%= render 'general/error_popover', error: t('user.errors.invalid_credentials'), arrow: :up, hidden: true %>


