<div class="user-form">
  <%= semantic_form_for(resource, as: :user, url: user_registration_path(resource)) do |form| %>
    <%= devise_error_messages! %>
    <%= form.input :email, as: :hidden, value: @user.email %>
    <%= form.semantic_fields_for :cards_attributes do |card_f| %>
      <%= card_f.input :uid, input_html: { autofocus: true } %>
    <% end %>
    <%= form.actions do %>
      <%= form.action :submit, label: 'Sign up' %>
    <% end %>
  <% end %>
</div>