<div class="card">
  <div class="image">
    <%= image_tag 'tmp/chateau_queribus.jpg' %>
  </div>
  <div class="content">
    <div class="header"><%= offer.name %></div>
    <div class="meta">
      <span>
        <%= fa_icon 'clock-o' %>
        3 jours restants</span>
    </div>
    <div class="description">
      <%= offer.description %>
    </div>
  </div>
  <div class="extra content">
      <span>
        <%= fa_icon 'user' %>
        22 bénéficiaires
      </span>
  </div>
</div>