<p id="notice"><%= notice %></p>

<h1>Offer Reductions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Percent</th>
      <th>Uid</th>
      <th>Location</th>
      <th>Description</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offer_reductions.each do |offer_reduction| %>
      <tr>
        <td><%= offer_reduction.name %></td>
        <td><%= offer_reduction.percent %></td>
        <td><%= offer_reduction.uid %></td>
        <td><%= offer_reduction.location %></td>
        <td><%= offer_reduction.description %></td>
        <td><%= offer_reduction.title %></td>
        <td><%= link_to 'Show', offer_reduction %></td>
        <td><%= link_to 'Edit', edit_offer_reduction_path(offer_reduction) %></td>
        <td><%= link_to 'Destroy', offer_reduction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offer Reduction', new_offer_reduction_path %>
