<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @offer_reduction.name %>
</p>

<p>
  <strong>Percent:</strong>
  <%= @offer_reduction.percent %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @offer_reduction.uid %>
</p>

<p>
  <strong>Location:</strong>
  <%= @offer_reduction.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @offer_reduction.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @offer_reduction.title %>
</p>

<%= link_to 'Edit', edit_offer_reduction_path(@offer_reduction) %> |
<%= link_to 'Back', offer_reductions_path %>
