<% content_for :banner do %>
    <%= render 'general/banner' %>
<% end %>

<div class="full-width-weighted center xlspace-t">
  <h1 class="after-load "><%= @location.name %></h1>

  <% @locations.each do |location| %>
      <tr>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</div>