<!DOCTYPE html>
<html>
<head>
  <title>Cardz</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Lato:400,700', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% if content_for? :banner %>
    <%= yield :banner %>
<% end %>

<%= yield %>

<%= render 'javascript' %>

</body>
</html>
